@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 450px;
	padding: 0.75rem;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	appearance: none;
	border-radius: 0;
}

.inputlabel {
	color: #8597a3;
	position: absolute;
	transition: 0.25s ease;
}

.inputfield {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1.125rem;
	/* padding: 10px 0; */
}

.inputfield:focus,
.inputfield:valid {
	outline: 0;
	border-bottom-color: #6658d3;
}

.inputfield:focus ~ .inputlabel {
	color: #6658d3;
	transform: translateY(-1.75rem);
}

.action {
	margin-top: 10px;
}

.actionbutton {
	cursor: pointer;
	font: inherit;
	font-size: 1rem;
	padding: 0.5em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #fff;
	border: 0;
}

.actionbutton:focus {
	outline: 0;
}

.cardinfo {
	text-align: center;
	font-size: 0.875rem;
	color: #8597a3;
}

.cardinfo a {
	display: block;
	color: #6658d3;
	text-decoration: none;
}
