@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	scroll-behavior: smooth;
}

.main {
	font-family: "Inter", sans-serif;
}

.blur-gradient {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	height: 75%;
	border-radius: 50% 22% 40% 80%;
	filter: blur(100px);
	background: radial-gradient(circle at 50% 50%, #4c00ff, #4c00ff00);
	opacity: 0.5;
}

.pricing-card {
	width: 380px;
}

/* .gradient-border {
	background-image: linear-gradient(white, white),
		linear-gradient(90deg, #ff8fa76b, #0110f047);
	background-origin: border-box;
	background-clip: content-box, border-box;
} */
